.header {
	&__logo {
		background: var(--bg-2);

		text-align: center;
		padding: 20px 0px;
		@include media(s) {
			padding: 16px 0px;
		}
	}
}
.general-title{
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	margin: 32px auto;
	font-family: var(--bebe);
	color:white;
	&.black{
		color: #000;

	}
	&.center{
		text-align: center;
	}
	&.orange{
		color: var(--bg-3);
	}
}

.hero {
	background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url("../assets/hero-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 664px;
	padding: 100px 100px;
	color: var(--texto-1);
	font-family: var(--bebe);
	margin-bottom: 80px;
	@include media(s) {
		height: 470px;
		padding: 40px 24px;
		background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%), url("../assets/hero-bg.jpg");
		background-position: center;
	}
	&__container {
		max-width: 611px;
	}
	&__title {
		font-weight: 400;
		font-size: 60px;
		line-height: 60px;
		text-transform: uppercase;
		margin: 32px auto;
		@include media(s) {
			font-size: 32px;
			line-height: 38px;
			max-width: 302px;
			margin: 32px 0px;
			margin-bottom: 12px;
		}
	}
	&__desc {
		font-family: var(--open);
		max-width: 610px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 32px;
		line-height: 22px;
		@include media(s) {
			font-size: 16px;
			max-width: 302px;

			line-height: 20px;
		}
	}
}
.end{
	padding:80px 0px;
	&__container{
		display: flex;
		max-width:1240px;
		margin:0 auto;
		&:first-of-type {
			gap:129px;
			margin-bottom: 56px;	
		}
	}
	

	&__desc{
		font-family: var(--open);
		line-height: 22px;
		color:#15161A;
		margin-bottom: 24px;
	}
	&__img{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__cards{
		display: flex;
		flex-wrap: wrap;
		gap:24px;
		flex-shrink:0;
		max-width:504px;
		margin-right: 24px;
	}
	&__card{
		width: 240px;
		border: 1px solid #ED8B00;
		padding:32px;
		text-align:center;
		&--desc{
			font-family: var(--open);
			line-height: 22px;
			color:#15161A;
			margin-top: 20px;
		}
	}
}
.recycling {
	background: var(--bg-2);
	padding:80px 0px;
	@include media(s) {
		padding: 0px 24px;
		padding-bottom: 40px;
	}
	&.pt {
		padding-top: 80px;
	}
	padding-bottom: 80px;
	color: var(--texto-1);
	&__desc {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		font-family: var(--open);
		margin-bottom: 40px;
		max-width: 745px;
		margin: 0 auto;
		text-align: center;
		@include media(s) {
			font-size: 16px;
			line-height: 22px;
			text-align: left;
		}
		&.orange {
			color: var(--bg-3);
		}
	}
	&__content {
		max-width: 1030px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		gap: 24px;
		margin: 40px auto;
		&.wrap{
			flex-wrap: wrap;
		}
		@include media(s) {
			flex-wrap: wrap;
		}
	}
	&__card {
		border: 1px solid var(--bg-3);
		padding: 32px;
		text-align: center;
		flex-shrink: 0;
		width: 327px;
		&.bigger{
			width: 331px;
		}
		@include media(s) {
			max-width: 312px;
		}
		.category {
			max-width: 268px;
			width: 100%;
			margin-bottom: 20px;
			@include media(s) {
				min-width: unset !important;
				font-size: 31px;
				line-height: 38px;
				margin-bottom: 20px;
			}

		}
		&--desc {
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			font-family: var(--open);
			max-width: 264px;
		}
	}

	&__box{
		text-align:center;
		padding: 32px;
		background-color:#EAEAEA;
		font-family: var(--open);
		line-height: 22px;
		color:#15161A;
		margin-top: 20px;
		width:327px;
	}
}
.steps{

	padding:80px 0px;

	&__container{
		max-width:1240px;
		margin: 0 auto;
	}
	&__text{
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		font-family: var(--open);
		margin-bottom: 40px;
	}
	.slick-dots {
		display: flex;
		justify-content: center;
		list-style-type: none;
		gap: 10px;
		padding-left: 0px;
		margin: 40px auto;
		button {
			display: block;
			width: 10px;
			height: 10px;
			padding: 0;

			border: none;
			border-radius: 100%;
			background-color: #eaeaea;

			text-indent: -9999px;
		}
	}
	.slide{
		background: rgba(21, 22, 26, .5);
		color: #fff;
		padding:40px 56px;
		margin: 0px 12px;
		height: 196px !important;
		&-parent{
			// max-width:1240px;
			margin: 0 auto;
			padding-right: 40px;
			width:100%;
		}

	}

	.slick-slider{
		margin: 0 -12px;
	}

	.slick-current{
		background: rgba(21, 22, 26, 1);
		
	}
}
.solutions {
	background-color: var(--bg-2);
	padding-bottom: 80px;
	@include media(s) {
		padding: 0px 24px;
		padding-bottom: 24px;
	}
	&__container {
		background: var(--bg-3);
		max-width: 1030px;
		margin: 0 auto;
		padding: 64px 106px;
		color: var(--texto-2);
		border-radius: 16px;
		@include media(s) {
			padding: 32px 24px;
			max-width: 312px;
		}
	}

	&__tabs {
		max-width: 421px;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		gap: 60px;
		position: relative;

		@include media(s) {
			justify-content: flex-start;
			padding-bottom: 20px;
			padding-top: 30px;
			overflow-x: auto;
			overflow-y: hidden;
		}
		&::after {
			background: var(--texto-1);
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: -16px;
			@include media(s) {
				display: none;
			}
		}
		.tab {
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
			text-align: center;
			text-transform: uppercase;
			font-family: var(--bebe);
			background: transparent;
			border: none;
			padding: 0;
			position: relative;
			flex-shrink: 0;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				z-index: 999;
				width: 0%;
				height: 2px;
				bottom: -16px;
				background: var(--bg-2);
				transition: all 0.2s ease-in-out;
				@include media(s) {
					bottom: 0;
				}
			}
			&.active {
				&:after {
					width: 101%;
				}
			}
		}
		&--content {
			display: none;
			background-color: var(--bg-0);
			padding: 40px 56px;
			text-align: center;
			border-radius: 12px;
			margin-top: 60px;
			@include media(s) {
				padding: 24px;
			}
			.category {
				padding: 4px 16px;
				color: var(--texto-2);
			}
			&.active {
				display: block !important;
			}
			.button--black {
				padding: 8px 24px;
			}
		}
		&--price {
			font-family: var(--bebe);
			color: var(--texto-2);
			font-weight: 400;
			font-size: 32px;
			line-height: 38px;
			text-transform: uppercase;
			margin: 12px auto;
		}
		&--desc {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			font-family: var(--open);
			color: var(--texto-2);

			margin-bottom: 12px;
		}
	}
}
.case {
	padding: 80px 0px;
	&__desc {
		max-width: 736px;
		margin: 0 auto;
		text-align: center;
		font-size: 18px;
		line-height: 22px;
		font-weight: 400;
		font-family: var(--open);
		color: #000;
		@include media(s) {
			padding: 0px 24px;
			max-width: 355;
			font-weight: 400;
			margin-top: 24px;
		}
		strong {
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
			text-transform: uppercase;
			font-family: var(--bebe);
			color: var(--bg-3);
		}
	}
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 77px;
		max-width: 1030px;
		row-gap: 64px;
		margin: 0 auto;
		margin-top: 51px;
		@include media(s) {
			flex-wrap: nowrap;
			overflow: auto;
			justify-content: flex-start;
			padding-left: 24px;
			gap: 0 30px;
		}
	}
	&__card {
		max-width: 292px;
		text-align: center;
		flex-shrink: 0;
		height: 192px;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 22px;
		font-family: var(--open);
		color: #000;
		&--desc {
			margin-top: 16px;
		}
	}
}
.cta {
	background: var(--bg-2);
	padding: 80px 100px;
	color: var(--texto-1);
	@include media(s) {
		padding: 40px 24px;
	}
	&__container {
		display: flex;
		gap: 130;
		justify-content: center;
		align-items: center;
		@include media(s) {
			flex-direction: column;
			gap: 32px;
		}
	}
	&__content {
		max-width: 602px;
	}

	&__desc {
		margin-top: 24px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		font-family: var(--open);
	}
	.form {
		display: flex;
		max-width: 554px;
		flex-wrap: wrap;
		gap: 24px;
		font-family: var(--open);

		&__input {
			display: flex;
			flex-direction: column;
			@include media(s) {
				width: 100%;
			}
			label {
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 29px;
				font-family: var(--bebe);
				margin-bottom: 8px;
			}
			input {
				width: 265px;
				background: transparent;
				border: 1px solid #fff;
				margin: 0;
				height: 36px;
				padding-left: 10px;
				color: var(--texto-1);
				@include media(s) {
					width: 100%;
				}
			}
		}
		&__button {
			width: 100%;
		}
	}
}
.faq {
	padding: 80px 100px;
	@include media(s) {
		padding: 40px 24px;
	}

	&__container {
		max-width: 1240px;
		margin: 0 auto;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	&__question {
		background: #eaeaea;
		padding: 26px 24px;
		font-family: var(--open);

		&--text {
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: var(--texto-2);
			position: relative;
			cursor: pointer;
			&:after {
				position: absolute;
				content: url("../assets/seta.svg");
				right: 0;
				transition: all 0.2s ease-in;
			}
			&.active {
				&:after {
					transform: rotate(-180deg);
				}
			}
		}
		&--answer {
			display: none;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: #454545;
		}
	}
}
